.btn {
  font-weight: bold;
  margin: 3px;
  font-size: 1.1em;
}

.vertical-align {
  display: flex;
  align-items: center;
}

pre {
  font-size: 14px;
}

.border {
  border-width: 1px;
  border-style: solid;
  padding: 3px;
  border-radius: 8px;
  margin-bottom: 10px;
}

.code-executed {
  background-color: yellow;
  cursor: default;
}

.code {
  cursor: pointer;
}
